$background_base: #1e1e2e;
$background_accent: #2d333b;

$theme: #fab387;
$theme_text: saturate(darken($theme, 90%), 40%);

.clock {
  all: unset;

  .label {
    margin-right: 5px;
    font-weight: bold;
  }
}

.background {
  background-color: transparent;
}

.main {
  padding: 10px 10px 0 10px;
}

.pacman {
  all: unset;

  .label {
    margin-right: 5px;
    font-weight: bold;
  }
}

.panel {
  all: unset;
  background-color: $background_base;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
}

.button_panel {
  all: unset;
  font-weight: bold;
  background-color: $background_base;
  border-radius: 5px;
  color: #fff;
}

.btn {
  all: unset;
  padding: 5px 10px;
  background-color: transparent;

  &.active {
    color: $theme_text;
    background-color: $theme;
  }

  &:not(.active):hover {
    background-color: $background_accent;
  }

  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.metric {
  all: unset;
  font-weight: bold;
  background-color: $background_base;
  border-radius: 5px;
  color: #fff;

  .label {
    font-weight: bold;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .value {
    margin-right: -50px;
  }

  &.left {
    scale {
      margin-right: 0;
      margin-left: 3px;
    }

    .value {
      margin-right: 0;
      margin-left: -100px;
    }
  }

  scale {
    all: unset;
    margin-right: 3px;

    trough {
      all: unset;
      background-color: $background_accent;
      border-radius: 2px;
      min-height: 24px;
      min-width: 100px;

      slider {
        all: unset;
      }

      highlight {
        all: unset;
        background-color: $theme;
        color: #000000;
        border-radius: 2px;
      }
    }
  }
}

* {
  font-family: "Jetbrains Mono", sans-serif;
}
